.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.leaflet-container {
  width: 100%;
  height:100vh;
}

.center {
  display: none;
}

.box {
  height: 100px;
  width: 100px;
  background: cyan;
  color: red;
}

/* .marker-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.marker-btn img {
  width: 25px;
  height: 25px;
} */

.rock {
  background-image: url('./assets/svg/guitar.svg');
  background-size: cover;
  background-color: transparent;
  /* background: url('./assets/svg/guitar.svg'); */
  border: none;
  border-radius: 5px;
  width: 55px;
  height: 40px;
  /* border-radius: 50%; */
  cursor: pointer;
}

.electronic {
  background-image: url('./assets/svg/synthesizer.svg');
  background-size: cover;
  background-color: transparent;
  /* background: url('./assets/svg/guitar.svg'); */
  border: none;
  border-radius: 5px;
  width: 55px;
  height: 40px;
  /* border-radius: 50%; */
  cursor: pointer;
}

footer {
  height: 5vh;
  width: 100vw;
  background-color: white;

}